spring-cloud-dataflow-server-kubernetes/
hidden-*
.gradle/
build/
!gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

!.gitkeep
.DS_Store

build/
out/

node_modules/
bower_components/
yarn.lock
package-lock.json
